<li>
    <a href="{{ .URL }}" title="{{ .Title }}" class="media-object media-object--round-image">
        {{ if .Params.thumbnail }}
        <figure class="media-object__img" style="background-image:url('{{ .Params.thumbnail }}')">
            <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" title="{{ .Title }}">
        </figure>
        {{ else }}
          {{ range $idx, $el := .Params.slider  }}

            {{ if eq $idx 0 }}
              <figure class="media-object__img" style="background-image:url('{{ .image }}')">
                  <img src="{{ .image }}" alt="{{ .Title }}" title="{{ .Title }}">
              </figure>
            {{ end }}
          {{ end }}
        {{ end }}
        <section class="media-object__text">
          <h3>{{ .Title }}</h3>
        </section>
    </a>
</li>