<div class="social-share" data-social-share>
    <span style="padding-left: 0;">SHARE</span>
    <a href="" target="_blank" data-share="facebook" class="facebook">
        <img src="/assets/social/facebook-f-brands.svg" alt="">
    </a>
    <a href="" target="_blank" data-share="twitter" class="twitter">
        <img src="/assets/social/twitter-brands.svg" alt="">
    </a>
    <a href="" target="_blank" data-share="pinterest" class="pinterest">
        <img src="/assets/social/pinterest-brands.svg" alt="">
    </a>
    <a href="" target="_blank" data-share="linkedin" class="linkedin">
        <img src="/assets/social/linkedin-in-brands.svg" alt="">
    </a>
</div>