// root font size;
$root-font-size: 16px;

// space
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;


$white: #fff;
$black: #444;
$light-gray: #e4e4e4;

$color-accent: #d10e0e;
$color-accent-2: #36213e;



// breakpoint
$mobile: 480px;
$big-mobile: 540px;
$tablet: 768px;
$big-tablet: 960px;
$desktop: 1024px;
$big-desktop: 1240px;

